.App { 

  text-align: center; 
 
}

.form { 
  display: flex; 
  flex-direction: column;
  align-items:center; 
  justify-content: center;  
  padding-bottom:500px;

} 
.form input { 
 width: 300px; 
 height: 60px; 
 margin: 10px;
 font-size: 25px; 
}   

input, label {
  display: block;
  text-align: center;
}  

.form1 { 
  float: left; 

  margin-right: 40px;
  margin-left: 950px;
  margin-bottom: 40px; 
}   

.form2 { 
  float: left; 

  margin-right: 40px;
 
  margin-bottom: 40px; 
}   

.form3 { 
  float: left; 
 
  margin-right: 50px;
  margin-bottom: 40px; 
}   



.text-left {  
  float:left;
  text-align: left; 
  align-items:left; 
  justify-content:left; 
  margin:10px 10px; 
  padding-left: 500px;
 } 
 
 
 .card {
  width: 1920px;
  height: 610px; 
  border: 2px solid black;
  border-radius: 10px;   

  justify-content: center; 
  padding-left:2px;  
  margin-left:300px;
  margin-bottom:10px;
  
 } 

 .button { 
  top: 35%;
  left: 20%;
  width: 100px;
  height: 40px;
  position: absolute;
}  

.sortingButtons {  
  float:left; 
  text-align:left;
  justify-content: "space-between";
   padding-left: 50px;
}


.logoform { 
   margin-right:300px;
}